:root {
    --border: solid;
    --border-radius: 2%;
    --border-width: 3px;
    --greycolour: #666666;

    --speech-colour: #090909;
    --speech-radius: 1000px;
}

#container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 1000px;
    margin: auto;
}

#row1, #row1_1, #row1_2, #row1_2_1, #row1_2_2,
#row2, #row2_1, #row2_2,
#row3 {
    display: flex;
}

#row1 {
    flex-direction: row;
    height: 40%;
    width: 100%;
    margin-bottom: 3%;
}

#row1_1 {
    flex-direction: row-reverse;
    margin-right: 1%;
    width: 30%;
    background-color: var(--greycolour);

    border-style: var(--border);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
}

#row1_1_speech {
    height: 150px;
    width: 150px;

    border-style: var(--border);
    border-radius: var(--speech-radius);
    background-color: var(--speech-colour);
}

#row1_2 {
    flex-wrap: wrap;
    width: 70%;
}

#row1_2_1 {
    flex-direction: column-reverse;
    margin-bottom: 3%;
    height: 55%;
    width: 100%;

    border-style: var(--border);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
}

#row1_2_1_speech {
    margin-left: 7%;
    margin-bottom: 7%;
    height: 80px;
    width: 80px;

    border-style: var(--border);
    border-radius: var(--speech-radius);
    background-color: var(--speech-colour)
    
}

#row1_2_2 {
    flex-direction: row-reverse;
    height: 37.5%;
    width: 100%;

    border-style: var(--border);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
}

#row1_2_2_speech {
    margin-bottom: 7%;
    margin-left: 7%;
    height: 100px;
    width: 120px;

    border-style: var(--border);
    border-radius: var(--speech-radius);
    background-color: var(--speech-colour)
}

#row2 {
    flex-direction: row;
    margin-bottom: 3%;
    height: 30%;
    display: flex;
}

#row2_1 {
    width: 20%;

    border-style: var(--border);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
}

#row2_1_speech {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;

    border-style: var(--border);
    border-radius: var(--speech-radius);
    background-color: var(--speech-colour)
}

#row2_2 {
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 1%;
    width: 60%;

    border-style: var(--border);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
}

#row2_2_speech1 {
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;

    border-style: var(--border);
    border-radius: var(--speech-radius);
    background-color: var(--speech-colour)
}

#row2_2_speech2 {
    margin-left: auto;
    margin-right: 20%;
    height: 100px;
    width: 100px;

    border-style: var(--border);
    border-radius: var(--speech-radius);
    background-color: var(--speech-colour)
}

#row2_3 {
    width: 20%;
    background-color: var(--greycolour);

    border-style: var(--border);
    border-radius: var(--corner);
    border-width: var(--border-width);
}

#row2_3_speech {
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    width: 100px;

    border-style: var(--border);
    border-radius: var(--speech-radius);
    background-color: var(--speech-colour)
}

#row3 {
    flex-direction: row;
    justify-content: space-between;
    height: 30%;
    background: linear-gradient(90deg, var(--greycolour) 50%, white 50%);

    border-style: var(--border);
    border-radius: var(--border-radius);
    border-width: var(--border-width);
}

#row_3_speech1 {
    height: 150px;
    width: 150px;

    border-style: var(--border);
    border-radius: var(--speech-radius);
    background-color: var(--speech-colour);
}

#row_3_speech2 {
    margin-top: 2%;
    margin-right: 30%;
    height: 90px;
    width: 90px;

    border-style: var(--border);
    border-radius: var(--speech-radius);
    background-color: var(--speech-colour);
}

