body {
    background-color: #1E2022;
    color: #C9D6DF;
}

.musicCircles {
    position: absolute;
    width: 10%;
    height: 15%;
    border-radius: 100%;
}

.musicCircles:hover {
    outline-style: solid;
    outline-width: 5px;
}

#circle1 {
    background-color: #cc0001;
}
#circle2 {
    background-color: #fb940b;
}
#circle3 {
    background-color: #ffff01;
}
#circle4 {
    background-color: #01cc00;
}
#circle5 {
    background-color: #03c0c6;
}
#circle6 {
    background-color: #0000fe;
}
#circle7 {
    background-color: #762ca7;
}
#circle8 {
    background-color: #fe98bf;
}