body {
    background-color: #84b44c;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#title-section {
    text-align: center;
}

#image-section {
    display: flex;
    justify-content: center;
}

img {
    width: 80%;
    border: solid;
    border-color: #258c24;
    border-width: 5px;
    border-radius: 2%;
}

.research-questions {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
    border-style: solid;
    border-width: 5px;
    border-radius: 2%;
    border-color: #258c24;
    background-color: #ece48c;
}

hr {
    color: #258c24;
    border-top: 8px solid ;
    border-radius: 5px;
    margin-left: 6%;
    margin-right: 6%;
}

#button-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 15px;
    margin: 1%;
    padding: 1px 24px;
    border-color: #258c24;
    border-width: 2px;
    border-radius: 10%;
    background-color: #ece48c;
}